---
layout: page
title: IS-EUD 2025 Accepted Workshops
---

{% assign sorted_workshops = site.data.workshops | sort: 'acronym' %}

<div class="row">
    <div class="col-lg-3 col-md-10 summary mx-auto p-relative">
        <article class="rounded border p-4 shadow sticky-top" style="margin-bottom: 30px; top: 5rem;">
            <h5>Topics &amp; Tracks</h5>
            <ul class="date-list">
                {% for workshop in sorted_workshops %}
                <li><a href="#{{ workshop.acronym | slugify }}">{{ workshop.acronym }}</a></li>
                {% endfor %}
            </ul>
	    <!--
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="https://equinocs.springernature.com/service/IS-EUD_2025" class="btn btn-main-md"
                        target="_blank">Submit a Paper</a>
                </li>
            </ul>
	    -->
        </article>
    </div>
    <div class="col">
        {% for workshop in sorted_workshops %}
        <article class="mb-5 shadow p-4 rounded border">
            <h2 id="{{ workshop.acronym | slugify }}">{{ workshop.acronym }}</h2>
            <p class="lead">{{ workshop.title }}</p>
            <dl class="row">
                <dt class="col-sm-2">Website</dt>
                <dd class="col">
                    <a href="{{ workshop.url }}" target="_blank" rel="noopener noreferrer">{{ workshop.url }}</a>
                </dd>
                {% comment %}
                <dt class="col-sm-3">Duration</dt>
                <dd class="col-sm-9">{{ workshop.duration }}</dd>
                {% endcomment %}
            </dl>
            <h3 class="h5" id="{{ workshop.acronym | slugify }}-abstract">Abstract</h3>
            <p>{{ workshop.abstract }}</p>
            <h3 class="h5" id="{{ workshop.acronym | slugify }}-organizers">Organizers</h3>
            <ul>
            {% for organizer in workshop.organizers %}
            <li>
                {{ organizer.name }}
                ({{ organizer.affiliation }})
            </li>
            {% endfor %}
            </ul>


            <a href="#">Go to top</a>
        </article>
        {% endfor %}
    </div>
</div>
