<!--============================
=            Footer            =
=============================-->

<footer class="footer-main pb-0">
	<div class="container">
		<div class="row">
			<div class="offset-3 col-6">
				<div class="block text-center">
					<ul class="social-links-footer list-inline">
						<li class="list-inline-item">
							<a href="https://www.facebook.com/profile.php?id=61572181328178" target="_blank"
								class="bg-transparent text-muted fa-xl">
								<i class="fa-brands fa-facebook"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="https://x.com/IS_EUD_Conf" target="_blank" class="bg-transparent text-muted fa-xl">
								<i class="fa-brands fa-x-twitter"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="https://bsky.app/profile/is-eud-conf.bsky.social" target="_blank"
								class="bg-transparent text-muted fa-xl">
								<i class="fa-brands fa-bluesky"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="https://www.linkedin.com/company/106051278/" target="_blank"
								class="bg-transparent text-muted fa-xl">
								<i class="fa-brands fa-linkedin"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-3">
				<a href="https://link.springer.com/conference/iseud" target="_blank" rel="noopener noreferrer">
					<img src="{% link images/lncs.png %}" alt="Lecture Notes in Computer Science Logo"
						class="img-fluid">
				</a>
			</div>
		</div>
	</div>
	<!-- Subfooter -->
	<section class="subfooter mt-5">
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-md-6 align-self-center text-center">
					<div class="copyright-text">
						<p><a href="index.html">IS-EUD 2025</a> &copy; 2024, Developed by Andrea Esposito</p>
						<p class="small">Design based on <a style="font-size: inherit;"
								href="https://themefisher.com/products/eventre-bootstrap" target="_blank">Eventre</a> by
							<a href="https://themefisher.com/" target="_blank"
								style="font-size: inherit;">Themefisher</a>
						</p>
					</div>
				</div>
				{% comment %}
				<div class="col-md-6">
					<a href="#" class="to-top"><i class="fa fa-angle-up"></i></a>
				</div>
				{% endcomment %}
			</div>
		</div>
	</section>
</footer>
