<!--========================================
=            Navigation Section            =
=========================================-->
<nav class="navbar main-nav border-less fixed-top navbar-expand-lg p-0">
  <div class="container p-0">
    <!-- logo -->
    <a class="navbar-brand pr-2" href="{{ site.url | absolute_url }}">
      <img height="40" src="{% link images/logo.svg %}" alt="IS-EUD logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item {% if page.path == 'index.markdown' %}active{% endif %}">
          <a class="nav-link" href="{{ site.url | absolute_url }}">Home
            <span>/</span>
          </a>
          <!-- Dropdown list -->
        </li>
        <li class="nav-item {% if page.path == 'call-for-papers.html' %}active{% endif %}">
          <a class="nav-link" href="{% link call-for-papers.html %}">Call for Papers
            <span>/</span>
          </a>
          <!-- Dropdown list -->
        </li>
        <li class="nav-item {% if page.path == 'organizers.html' %}active{% endif %}">
          <a class="nav-link" href="{% link organizers.html %}">Organizers
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--====  End of Navigation Section  ====-->
