{% if include.entry.type == 'keynote' or include.entry.type == "special" %}
	{% assign entry_class = 'bg-primary' %}
	{% assign text_color = 'text-white' %}
{% elsif include.entry.type == 'break' %}
	{% assign entry_class = 'bg-secondary' %}
	{% assign text_color = 'text-white' %}
{% else %}
	{% assign entry_class = '' %}
	{% assign text_color = '' %}
{% endif %}


<li class="schedule-details position-relative">
	<div class="{{ entry_class }} block row">
		<!-- time -->
		<div class="time my-2 align-top col-2">
			<i class="fa fa-clock-o {{ text_color }}"></i>
			<span class="time {{ text_color }}">
				{{ include.entry.from }}
				&ndash;
				{{ include.entry.to }}
			</span>
		</div>
		<!-- Speaker -->
		<div class="event col">
			{% if include.entry.id && include.entry.type == "keynote" %}
				<a href="{% link keynotes.html %}#{{ include.entry.id }}" class="stretched-link text-decoration-none">
			{% endif %}
			<h3 class="h5 {{ text_color }}">
				{% if include.entry.type == "keynote" %}
					Keynote: {{ include.entry.speaker.name }}
				{% else %}
					{{ include.entry.title }}
				{% endif %}
			</h3>
			{% if include.entry.id && include.entry.type == "keynote" %}
				</a>
			{% endif %}
			<p class="{{ text_color }}">
				{% if include.entry.type == "keynote" %}
					{{ include.entry.title
						| default: 'More keynote details to be announced' }}
				{% elsif include.entry.type == 'session'
				    or include.entry.type == "workshops"	
					or include.entry.type == 'special' %}
					{{ include.entry.details | markdownify | remove: '<p>' | remove: '</p>' | replace: '<a', '<a class="text-white"' | default: 'More details to be announced' }}
				{% else %}
					{{ include.entry.speaker.name }}
				{% endif %}
			</p>
		</div>
	</div>
</li>
{% if include.entry.type == "session" or include.entry.type == "workshops" %}
	{% for paper in include.entry.session %}
		<li class="schedule-details position-relative">
			<div class="block row">
				<!-- time -->
				<div class="time col-2 offset-1">
					{% if paper.from and paper.to %}
					<i class="fa fa-clock-o"></i>
					<span class="time">
						{{ paper.from }}
						&ndash;
						{{ paper.to }}
					</span>
					{% endif %}
				<!-- <br><span class="badge badge-secondary badge-pill">Regular</span>
				-->
				</div>
				<!-- Speaker -->
				<div class="event col">
					<h4 class="h6 {{ text_color }}">
						{{ paper.title }}
					</h4>
					{% if paper.authors %}
					<p>
						{{ paper.authors }}
					</p>
					{% endif %}
					{% if paper.details %}
					<p>
						{{ paper.details | markdownify }}
					</p>
					{% endif %}
				</div>
					{% if paper.link %}
					<div class="col-2 align-content-center position-static">
						<a href="{{ paper.link }}" class="align-content-center stretched-link" target="_blank" rel="noopener noreferrer">
						<small>
							{% if include.entry.type == "session" %}
								View Paper
							{% else %}
								Go to website
							{% endif %}
						</small>
						</a>
					</div>
					{% endif %}
			</div>
		</li>
	{% endfor %}
{% endif %}
