---
layout: base
---

<!--============================
=            Banner            =
=============================-->

<section class="banner bg-banner-one overlay overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<!-- Content Block -->
				<div class="block dark-bg text-white">
					<!-- Coundown Timer -->
					{% comment %}<div class="timer"></div>{% endcomment %}
					<h1>{{ site.conference.acronym }}</h1>
					<h2>{{ site.conference.name }}</h2>
					<h6>16-18 June 2025, Munich (Germany)</h6>
					<!-- Action Button -->
					<a href="{% link program.html %}" class="btn btn-primary text-white">
						Check the Program
					</a>
					<a href="{% link iseud25.ics %}" class="btn btn-lg btn-outline-primary text-primary">Download
						calendar entry</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 align-self-center">
				<div class="content-block">
					<h2 class="text-center">Welcome to <span class="alternate">IS-EUD 2025</span></h2>
					<div class="row">
						<div class="col-lg-6 col-md-6 align-self-center description-one">
							<p>
								<strong>End-User Development (EUD)</strong> aims to empower end-users who are not
								necessarily experts in software development to create their own software to address
								their specific needs. IS-EUD is a bi-annual event that gathers researchers interested in
								extending the knowledge about how to design end-user development technologies and
								provide scientific accounts of phenomena surrounding EUD practices.
							</p>
							{% comment %}
							<p class="mt-2">IS-EUD is a bi-annual event, that gathers researchers interested to extend
								our knowledge about how to design end-user development technologies and to provide
								scientific accounts of phenomena surrounding end-user development practices.</p>
							{% endcomment %}
						</div>
						<div class="col-lg-6 col-md-6">
							<figure class="text-center">
								<img src="{% link images/logo.svg %}" alt="IS-EUD 2025 logo"
									class="img-responsive w-50">
							</figure>
							{% comment %}
							<h3 class="h4">Important <span class="alternate">Dates</span></h3>
							<ul class="date-list">
								{% assign sorted_dates = site.data.dates | sort: "extension", "last" | sort: "date" %}
								{% assign today_date = 'now' | date: '%s' %}
								{% for date in sorted_dates %}
								<li>
									{% assign deadline = date.extension | default: date.date | date: '%s' %}
									{% if today_date > deadline %}<del>{% endif %}
										<span
											class="date {% if today_date > deadline %}text-decoration-line-through{% endif %}">
											{% if date.extension %}
											<del class="small">{{ date.date | date: "%-d %B %Y"}}</del><br>
											{{ date.extension | date: "%-d %B %Y"}}:
											{% else %}
											{{ date.date | date: "%-d %B %Y"}}:
											{% endif %}
										</span>
										{{ date.description }}
										{% if today_date > deadline %}</del>{% endif %}
									{% if date.extension or today_date > deadline %}
									<span
										class="ms-2 badge text-white {% if today_date > deadline %}text-bg-secondary{% else %}text-bg-primary{% endif %}">{%
										if today_date > deadline %}Passed{% else %}Extended!{% endif %}</span>
									{% endif %}
								</li>
								{% endfor %}
							</ul>
							{% endcomment %}
						</div>
					</div>
					<div class="description-two text-center mt-3 bg-white">
						<p>Curious about the last IS-EUD conference? Check out
							the program and the results from <a target="_blank" rel="noopener noreferrer"
								href="https://cg3hci.dmi.unica.it/iseud2023/">IS-EUD
								2023</a>.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 align-self-center">
				<div class="content-block">
					<h2 class="text-center">This Year's <span class="alternate">Keynotes</span></h2>
					{% assign sorted_keynotes = site.data.keynotes
					| sort: 'date' %}
					{% for keynote in sorted_keynotes %}
					<div class="row">
						<div class="col-lg-6 col-md-6 align-self-center description-one">
							<h3 class="h6">{{ keynote.title }}</h3>
							<p class="fw-bold">{{ keynote.date | date: "%d %B %Y"}}</p>
							<p>
								{{ keynote.abstract}}
							</p>
						</div>
						<div class="col-lg-6 col-md-6 align-content-center">
							<figure class="text-center image-block mx-auto w-50 ratio ratio-1x1">
								<img src="{% link {{ keynote.speaker.photo }} %}" alt="IS-EUD 2025 logo"
									class="img-fluid object-fit-cover">
							</figure>
							<p class="text-center mb-0">
								By <strong>{{ keynote.speaker.name }} {{ keynote.speaker.surname }}</strong><br>
								{{ keynote.speaker.affiliation }}
							</p>
						</div>
					</div>
					{% endfor %}
					<div class="description-two text-center mt-3 bg-white">
						<a href="{% link program.html %}" class="btn btn-outline-primary">
							Check the Program
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="about">
	<!-- Get ticket info -->
	<div class="content-block">
		<h2 class="text-center">Follow <span class="alternate">Us!</span></h2>
		<div class="block text-center">
			<ul class="social-links-footer list-inline">
				<li class="list-inline-item">
					<a href="https://www.facebook.com/profile.php?id=61572181328178" target="_blank">
						<i class="fa-brands fa-facebook fa-2xl"></i>
					</a>
				</li>
				<li class="list-inline-item">
					<a href="https://x.com/IS_EUD_Conf" target="_blank">
						<i class="fa-brands fa-x-twitter fa-2xl"></i>
					</a>
				</li>
				<li class="list-inline-item">
					<a href="https://bsky.app/profile/is-eud-conf.bsky.social" target="_blank">
						<i class="fa-brands fa-bluesky fa-2xl"></i>
					</a>
				</li>
				<li class="list-inline-item">
					<a href="https://www.linkedin.com/company/106051278/" target="_blank">
						<i class="fa-brands fa-linkedin fa-2xl"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>

<section class="banner bg-banner-two overlay" style="background: url({% link images/venue/garden.jpg %});">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 md-6">


			</div>

			<div class="col-lg-6 md-6 z-1">
				<article class="bg-white overlay-content">
					<div class="post-content bg-white p-4">
						<h2><span class="alternate">Venue</span></h2>
						<p>The venue is in the center of <strong>Munich</strong> at 10 minutes walk from München
							Hbf (the main railway station) at Mathildenstraße 4, 80336 München
							(<a href="https://ehv-muenchen.de/veranstaltungszentrum/"
								target="_blank">https://ehv-muenchen.de/veranstaltungszentrum/</a>)
						</p>
						{% include_relative venue-alert.html %}
						<p>
							<a href="{% link venue.html %}" class="btn btn-main-md">More</a>
							<a href="https://maps.app.goo.gl/kDYkhPSzCTYmBRFz8" target="_blank"
								class="btn btn-main-md">Open in Google Maps</a>
						</p>
					</div>

				</article>
			</div>
		</div>
	</div>
</section>

{% comment %}
<!--====  End of Banner  ====-->

{% include about-section.htm %}

{% include speakers.htm %}

@@include('blocks/schedule.htm',{
"button" : false
})

<!--==================================
=            Registration            =
===================================-->

<section class="registration">
	<div class="container-fuild p-0">
		<div class="row">
			<div class="col-lg-6 col-md-12 p-0">
				<div class="service-block bg-service overlay-primary text-center">
					<div class="row no-gutters">
						<div class="col-6">
							<!-- Service item -->
							<div class="service-item">
								<i class="fa fa-microphone"></i>
								<h5>8 Speakers</h5>
							</div>
						</div>
						<div class="col-6">
							<!-- Service item -->
							<div class="service-item">
								<i class="fa fa-flag"></i>
								<h5>500 + Seats</h5>
							</div>
						</div>
						<div class="col-6">
							<!-- Service item -->
							<div class="service-item">
								<i class="fa fa-ticket"></i>
								<h5>300 tickets</h5>
							</div>
						</div>
						<div class="col-6">
							<!-- Service item -->
							<div class="service-item">
								<i class="fa fa-calendar"></i>
								<h5>3 days event</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-12 p-0">
				<div class="registration-block bg-registration overlay-dark">
					<div class="block">
						<div class="title text-left">
							<h3>Register to <span class="alternate">Eventre</span></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
						</div>
						<form action="#" class="row">
							<div class="col-md-6">
								<input type="text" class="form-control main" placeholder="Your Name" required>
							</div>
							<div class="col-md-6">
								<input type="email" class="form-control main" placeholder="Email" required>
							</div>
							<div class="col-md-6">
								<input type="text" class="form-control main" placeholder="Phone" required>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<select class="form-control main" id="select-ticket" required>
										<option>Ticket Type</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
							</div>
							<div class="col-12">
								<button type="submit" class="btn btn-white-md">Register Now</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of Registration  ====-->

{% include pricing.htm %}

<!--===========================================
=            Call to Action Ticket            =
============================================-->

<section class="cta-ticket bg-ticket overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<!-- Get ticket info -->
				<div class="content-block">
					<h2>Get Ticket <span class="alternate">Now!</span></h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmtempor incidi</p>
					<a href="" class="btn btn-main-md">Buy ticket</a>
				</div>
			</div>
		</div>
	</div>
	<div class="image-block"><img src="images/speakers/speaker-ticket.png" alt="" class="img-fluid"></div>
</section>

<!--====  End of Call to Action Ticket  ====-->

@@include('blocks/sponsors.htm',{
"background" : true
})

<!--================================
=            News Posts            =
=================================-->

<section class="news section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3>Eventre <span class="alternate">News</span></h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm tempor incididunt ut labore
						dolore</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="news-single.html">
							<img src="images/news/post-thumb-one.jpg" alt="post-image" class="img-fluid">
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>20<span>May</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="news-single.html">Elementum purus id ultrices.</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
									<i class="fa fa-user-o"></i>
									<a href="#">Admin</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-heart-o"></i>
									<a href="#">350</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-comments-o"></i>
									<a href="#">30</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="news-single.html">
							<img src="images/news/post-thumb-two.jpg" alt="post-image" class="img-fluid">
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>20<span>May</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="news-single.html">Elementum purus id ultrices.</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
									<i class="fa fa-user-o"></i>
									<a href="#">Admin</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-heart-o"></i>
									<a href="#">350</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-comments-o"></i>
									<a href="#">30</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-md-auto col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a href="news-single.html">
							<img src="images/news/post-thumb-three.jpg" alt="post-image" class="img-fluid">
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>20<span>May</span></h4>
						</div>
						<div class="post-title">
							<h2><a href="news-single.html">Elementum purus id ultrices.</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
									<i class="fa fa-user-o"></i>
									<a href="#">Admin</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-heart-o"></i>
									<a href="#">350</a>
								</li>
								<li class="list-inline-item">
									<i class="fa fa-comments-o"></i>
									<a href="#">30</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of News Posts  ====-->

{% include cta-subscribe.htm %}

{% include google-map.htm %}

{% include footer.htm %}
{% endcomment %}
